.wcagHeader{
    display: block;
    margin: 50px 0 30px 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.wcagDescritpion {
    display: block;
}

.wcagh2{
    display: block;
    margin: 50px 0 30px 0;
}

.wcagList {
    margin-left: 20px;
}