#accesibleWrapper {
  text-align: right;
  width: 100%;
}

#accesibleIcon, .accesibleIcon {
  margin: 8px 5px 8px 5px !important;
  font-size: 15px !important;
}

.navbar {
  padding: 1rem 0;
  margin-bottom: 2rem;
  width: 100%;
  background-color: #fff;
}

.dropdown .dropdown-menu {
  border-radius: 0;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius: 0;
  }
}

.btn {
  width: 106px;
  border-width: 2px;
}

.accessibleIconButton {
  margin-right: 5px;
  background-color: transparent;
  border: 2px solid transparent;
}
.accessibleIconButton:hover {
  color: #1680bc;
}

.accessibleIconButton:focus,
.accessibleIconButton:active {
  outline: none !important;
  border-color: red;  
  border-style: dotted;
}

.btn:focus,
.btn:active {
  outline: none !important;  
  border-color: red;  
  border-style: dotted;
  border-width: 2px;
}