#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}
header {
  display: flex;
  justify-content:center;
  align-items: center;
}
#accesibleWrapper {
  text-align: right;
  width: 40px;
  position: fixed;
  z-index: 4;
  right: 10px;
  top: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
}
#accesibleIcon, .accesibleIcon {
  margin: 8px 5px 8px 5px !important;
  font-size: 2.4rem !important;
}
.navbar {
  padding: 1rem 0;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1440px;
  z-index: 3;
  background: none;
}
.nav-item {
  border-width: 2px;
  width: auto;
}
.nav-item {
  color: black;
}
.nav-item a:hover {
  width: 150px;
  height: 80px;
  font-weight: 600;
  z-index: 2;
  text-decoration: none;
}
.nav-item a:hover {
  text-decoration: none !important;
}
.accessibleIconButton {
  margin-right: 5px;
  background-color: transparent;
  border: 2px solid transparent;
}
.accessibleIconButton:hover {
  color: #fff;
}
.accessibleIconButton:focus,
.accessibleIconButton:active {
  outline: none !important;
  border-color: red;  
  border-style: dotted;
}
.nav-item a:focus,
.nav-item a:active {
  border-color: red;  
  border-style: dotted;
  border-width: 2px;
  text-decoration: none;
}
.brand {
  font-size: 2.4rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,29,49, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}