#wrapperHome {
  width: 97%; 
  margin: 0 auto;
}

.buttonTrue {
  background-color: yellow;
}

.buttonFalse {
  background-color: white;
}
#cookieSpan {
  width: 100%;
  padding: 0 20px;
}
.linkToCookies {
  color: white;
}
.linkToCookies:hover{
  color: orange;
  text-decoration: none;
}
#rcc-confirm-button {
  background: darkblue !important;
  color: white !important;
  height: 48px!important;
}