.container_footer {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.row_footer_item {
  display: block;
  margin-top: 50px;
  padding-bottom: 10px;
}
.navbar-toggler {
    color: black;
}

@media (max-width: 767px) {
 .row_footer_item {
    text-align: center;
    margin-top: 10px;
  }
}

a {
    color: #091d31;
    font-size: 1.6rem;
    font-weight: 600;
}


a:hover {
  color: #000
}